{% assign current = page.url | downcase | split: '/' %}

<div class="site-header">
	<div class="container">
		<div class="column nav-column">
			<div class="main-title"><a href="{{ site.baseurl }}" class="logo">{{ site.title }}</a>{% if page.title %}<span class="page-title"> / {{ page.title }}</span>{% endif %}</div>

			<nav>
			  <a href="{{ site.baseurl }}/people" {% if (current[1] == 'people') %} class="active" {% endif %}>People</a>
			  <a href="{{ site.baseurl }}/places" {% if (current[1] == 'places') %} class="active" {% endif %}>Places</a>
			  <a href="{{ site.baseurl }}/scenes" {% if (current[1] == 'scenes') %} class="active" {% endif %}>Scenes</a>
			  <a href="{{ site.baseurl }}/details" {% if (current[1] == 'details') %} class="active" {% endif %}>Details</a>
			  <!-- <a href="{{ site.baseurl }}/about" {% if (current[1] == 'about') %} class="active" {% endif %}>About</a> -->
			</nav>
    </div>
  </div>
</div>