/*~~~~~~~~~~~ Navigation ~~~~~~~~~~~~~~*/

$footer-height: 50px;

.site-footer {
	width: 100%;
	height: $footer-height;
	line-height: $footer-height;
	z-index: 10;

	@include breakpoint(extra-large) {
		height: 30px;
		line-height: 30px;
	}

	&.fixed-footer {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 80;

		.copyright {
			color: rgba($off-white, .6);
		}
	}

	&.home-footer {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		background: none;

		.copyright {
			color: rgba($off-white, .6);
		}
	}
}

.copyright {
	text-align: center;
	@include font-size(1.2);
	color: $light-grey;
}