/*~~~~~~~~~~~ Navigation ~~~~~~~~~~~~~~*/

$header-height: 50px;

.site-header {
	position: relative;
	width:100%;
	top:0;
	left: 0;
	height: auto;
	padding: 0;
	@include clearfix();
	@include breakpoint(medium) { padding-bottom: 0;}

	&.home-header {
		.logo,
		nav a {
			color: rgba($white, .8);

			&:hover {
				color: $cyan;
			}
		}
	}
}

.main-title {
	float: left;
	@include font-size(2);
	margin-right: 20px;
	height: $header-height;
	line-height: $header-height;
	color: $off-black;

	.logo {
		color: $off-black;
		transition: 300ms ease all;

		&:hover {
			border: none;
			color: $cyan;
		}
	}

	.actual-logo {
		position: relative;
		float: left;
		width: 40px;
		height: 40px;
		margin: 5px 10px 5px 0;
		border: 1px solid transparent;
		border-radius: 40px;
		display: none;

		img {
			width: 100%;
			height: 100%;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 40px;
			background: rgba($cyan, .1);
			display: none;
		}

		&:hover {
			border: 1px solid $cyan;

			&:before {
				display: block;
			}
		}
	}

	@include breakpoint(medium) {
		// .logo { display: none; }
		// .actual-logo { display: block; }
	}
}

nav {
	position: relative;
	float: right;
 	@include clearfix();

 	a {
	 	display: block;
		position: relative;
		float: left;
		margin-left: 20px;
		height: $header-height;
		line-height: $header-height;
		color: $mid-grey;
	 	@include uppercase();
	 	@include font-size(1.4);
		border: none;
		@include transition(200ms ease all);

	 	&.active,
		&:hover {
			color: $cyan;
			border-bottom: none;
	 	}
 	}
}

@include breakpoint(medium) {
	nav {
		position: absolute;
		top: $header-height;
		right: 30px;
		width: 150px;
		height: auto;
		@include clearfix();
		background: $white;
		box-shadow: 0 0 0 rgba($off-black, 0);
		z-index: 100;
		margin-top: -5px;
		border: 0 solid transparent;
		transition: ease all 300ms;
		max-height: 0;
		overflow: hidden;

		&.nav-open {
			max-height: 250px;
			box-shadow: 0 2px 3px rgba($off-black, .4);
		}

		a {
			width: 100%;
			height: 40px;
			margin: 0;
			line-height: 40px;
			padding: 0 15px;

			&:hover {
				background: rgba($cyan, .1);
			}

			&.active {
				background: rgba($cyan, .3);
				color: $off-black;
			}
		}
	}

	.site-header.home-header {
		nav a {
			color: $off-black;
		}

		.hamburger-menu {
			svg {
				fill: rgba($white, .8);
			}

			&.hamburger-clicked {
				svg {
					fill: $off-black;
				}
			}
		}
	}
}

.page-title,
.slash {
	@include chaparral();
	color: $mid-grey;
	@include font-size(1.6);
}

.page-title-small-pages {
	position: absolute;
	bottom: 30px; // footer height
	left: 0;
	right: 0;
	color: $off-black;
	padding: 10px 30px;
	background: rgba($off-white, .8);
	height: auto;
	z-index: 10;
	@include font-size(1.4);
	text-align: center;
	line-height: 1em;
	display: none;
}

@include breakpoint(extra-large) {
	.slash,
	.page-title { display: none; }

	.page-title-small-pages {
		display: block;
	}
}

$hamburger-size: 40px;

.hamburger-menu {
	position: relative;
	float: right;
	width: $hamburger-size;
	height: $hamburger-size;
	margin: 5px 0;
	display: none;
	z-index: 100;

	svg {
		width: $hamburger-size;
		height: $hamburger-size;
		fill: rgba($off-black, .7);
	}

	&:hover {
		cursor: pointer;
		background: rgba($white, .3);

		svg {
			fill: $off-black;
		}
	}

	&.hamburger-clicked {
		background: $white;
	}

	@include breakpoint(medium) {
		display: block;
	}
}