/*~~~~~~~~~~~ Navigation ~~~~~~~~~~~~~~*/

$header-height: 70px;

.nav-column {
	padding: 0 30px;

	@include breakpoint(medium-step) {
		padding: 0 15px;
	}
}

.site-header {
	position: relative;
	width:100%;
	top:0;
	left: 0;
	height: auto;
	padding: 0;
	z-index: 10;
	@include clearfix();
	@include breakpoint(medium) { padding-bottom: 0;}

	&.home-header {
		.logo,
		nav a {
			color: rgba($white, .5);

			&:hover {
				color: $white;
			}
		}
	}
}

.main-title {
	float: left;
	@include font-size(2);
	margin-right: 20px;
	height: $header-height;
	line-height: $header-height;
	color: $off-white;

	.logo {
		color: $off-white;
		transition: 300ms ease all;

		&:hover {
			border: none;
			color: $white;
		}
	}
}

nav {
	position: relative;
	float: right;
 	@include clearfix();

 	a {
	 	display: block;
		position: relative;
		float: left;
		margin-left: 20px;
		height: $header-height;
		line-height: $header-height;
		color: rgba($white, .5);
	 	@include uppercase();
	 	@include font-size(1.4);
		border: none;
		@include transition(200ms ease all);

	 	&.active,
		&:hover {
			color: $white;
			border-bottom: none;
	 	}
 	}
}

@include breakpoint(medium) {
	nav {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		@include clearfix();
		background: rgba($black, .9);
		z-index: 100;
		border: 0 solid transparent;
		transition: ease all 300ms;
		max-height: 0;
		overflow: hidden;

		&.nav-open {
			max-height: 100%;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80%;
			height: percentage(1/5);
			margin: 0 auto;
			float: none;
			font-size: 24px;
			padding: 0 15px;
			text-align: center;

			&.active {
				color: $white;
			}
		}
	}
}

.page-title,
.slash {
	@include chaparral();
	color: $mid-grey;
	@include font-size(1.6);
}

.page-title-small-pages {
	position: absolute;
	bottom: 29px; // (almost) footer height
	left: 0;
	right: 0;
	color: $off-white;
	padding: 10px 30px;
	background: rgba($off-black, .8);
	height: auto;
	z-index: 10;
	@include font-size(1.4);
	text-align: center;
	line-height: 1em;
	display: none;
}

@include breakpoint(extra-large) {
	.slash,
	.page-title { display: none; }

	.page-title-small-pages {
		display: block;
	}
}

$hamburger-size: 40px;

.hamburger-menu {
	position: relative;
	float: right;
	width: $hamburger-size;
	height: $hamburger-size;
	margin: 15px 0;
	display: none;
	z-index: 100;

	svg {
		width: $hamburger-size;
		height: $hamburger-size;
		fill: rgba($white, .5);
	}

	&:hover {
		cursor: pointer;

		svg {
			fill: $white;
		}
	}

	&.hamburger-hidden {
		display: none;
	}

	@include breakpoint(medium) {
		display: block;
	}
}

.close-menu {
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 200;
	fill: rgba($white, .8);
	width: 60px;
	height: 60px;

	> svg {
		width: 100%;
		height: 100%;
	}

	&:hover {
		fill: $white;
		cursor: pointer;
	}

	&.close-shown {
		display: block;
	}
}