/*~~~~~~~~~~~ Navigation ~~~~~~~~~~~~~~*/

$header-height: 70px;

.nav-column {
	padding: 0 30px;
}

.site-header {
	position: relative;
	width:100%;
	top:0;
	left: 0;
	height: auto;
	padding: 0;
	z-index: 10;
	@include clearfix();
	@include breakpoint(medium) { padding-bottom: 0;}

	&.home-header {
		.logo,
		nav a {
			color: rgba($white, .5);

			&:hover {
				color: $white;
			}
		}
	}
}

.main-title {
	float: left;
	@include font-size(2);
	margin-right: 20px;
	height: $header-height;
	line-height: $header-height;
	color: $off-white;

	.logo {
		color: $off-white;
		transition: 300ms ease all;

		&:hover {
			border: none;
			color: $white;
		}
	}
}

nav {
	position: relative;
	float: right;
 	@include clearfix();

 	a {
	 	display: block;
		position: relative;
		float: left;
		margin-left: 20px;
		height: $header-height;
		line-height: $header-height;
		color: rgba($white, .5);
	 	@include uppercase();
	 	@include font-size(1.4);
		border: none;
		@include transition(200ms ease all);

	 	&.active,
		&:hover {
			color: $white;
			border-bottom: none;
	 	}
 	}
}

@include breakpoint(medium) {
	nav {
		position: absolute;
		top: $header-height;
		right: 30px;
		width: 150px;
		height: auto;
		@include clearfix();
		background: $black;
		box-shadow: 0 0 0 rgba($off-black, 0);
		z-index: 100;
		margin-top: -5px;
		border: 0 solid transparent;
		transition: ease all 300ms;
		max-height: 0;
		overflow: hidden;

		&.nav-open {
			max-height: 250px;
			box-shadow: 0 2px 3px rgba($off-black, .4);
		}

		a {
			width: 100%;
			height: 40px;
			margin: 0;
			line-height: 40px;
			padding: 0 15px;

			&.active {
				color: $white;
			}
		}
	}
}

.page-title,
.slash {
	@include chaparral();
	color: $mid-grey;
	@include font-size(1.6);
}

.page-title-small-pages {
	position: absolute;
	bottom: 29px; // (almost) footer height
	left: 0;
	right: 0;
	color: $off-white;
	padding: 10px 30px;
	background: rgba($off-black, .8);
	height: auto;
	z-index: 10;
	@include font-size(1.4);
	text-align: center;
	line-height: 1em;
	display: none;
}

@include breakpoint(extra-large) {
	.slash,
	.page-title { display: none; }

	.page-title-small-pages {
		display: block;
	}
}

$hamburger-size: 40px;

.hamburger-menu {
	position: relative;
	float: right;
	width: $hamburger-size;
	height: $hamburger-size;
	margin: 5px 0;
	display: none;
	z-index: 100;

	svg {
		width: $hamburger-size;
		height: $hamburger-size;
		fill: rgba($white, .5);
	}

	&:hover {
		cursor: pointer;

		svg {
			fill: $white;
		}
	}

	&.hamburger-clicked {
		background: rgba($dark-grey, .3);
	}

	@include breakpoint(medium) {
		display: block;
	}
}