/*

Home Styles

*/

.home {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

// Hide main nav on home page
.site-header.home-header {
	nav,
	.hamburger-menu {
		display: none;
	}
}

.home-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	width: 90%;
	height: calc(100% - 200px);
	max-width: 500px;
	margin: 100px auto;
	z-index: 100;

	@include breakpoint(medium) {
		height: calc(100% - 100px);
		margin: 50px auto;
	}

	> a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 20%;
		text-align: center;
		color: rgba($white, .7);
		@include font-size(2.5);
		@include uppercase();

		&:hover {
			border: none;
			color: $white;
		}
	}
}