/*~~~~~~~~~~~ GRID ~~~~~~~~~~~~~~*/

// Media Queries
@mixin breakpoint($point) {
	@if $point == extra-large {
		@media (max-width: 1200px) { @content; }
	} @else if $point == large {
		@media (max-width: 1000px) { @content; }
	} @else if $point == medium {
		@media (max-width: 800px) { @content; }
	} @else if $point == medium-step {
		@media (max-width: 600px) { @content; }
	} @else if $point == small {
		@media (max-width: 400px)  { @content; }
	} @else if $point == dang-small {
		@media (max-width: 380px)  { @content; }
	}
}

// Media Query Syntax: // @include breakpoint(small) { width: 60%; }

// drop in a div with this class to visualize your breakpoints as you scale the page
.breakpoint-tester {
	position: fixed;
	top: 50px;
	right: 0;
	background: $orange;
	font-size: 20px;
	padding: 10px 15px;
	z-index: 1001;

	&:before { content: 'default'; }

	@include breakpoint(extra-large) { &:before { content: 'extra-large'; } }
	@include breakpoint(large) { &:before { content: 'large'; } }
	@include breakpoint(medium) { &:before { content: 'medium'; } }
	@include breakpoint(medium-step) { &:before { content: 'medium-step'; } }
	@include breakpoint(small) { &:before { content: 'small'; } }
}


/*
 * * * * * * * * * * * * * * * * * * *
 * GRID
 * * * * * * * * * * * * * * * * * * *
 */

.container {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1600px;
	height: auto;
	margin: 0 auto;
	@include clearfix();
	padding: 0 15px;

	&.photos {
		padding: 0 25px;
	}
}

.column {
	float: left;
	width: 100%;
	padding: 0 15px;
	@include clearfix();
}

.gallery-wrapper {
	margin-top: -20px;

	@include breakpoint(medium-step) {
		margin-top: -5px;
	}
}

.grid {
	width: 100%;
	@include clearfix();
	padding-bottom: 50px;

	@include breakpoint(medium-step) {

	}

	.gallery-photo {
		position: relative;
		display: block;
		float: left;
		width: percentage(1/3);
		height: auto;
		padding: 20px;

		@include breakpoint(medium-step) {
			padding: 5px;
		}

		img {
			width: 100%;
			height: auto;
			margin-bottom: -4px;
		}

		.caption {
			position: absolute;
			bottom: 50px;
			left: 50px;
			width: 80%;
			@include font-size(1.6);
			color: $white;
			text-shadow: 1px 1px 2px rgba($off-black, .4);
			opacity: 0;
			margin-bottom: -30px;
			transition: 300ms ease all;
		}

		@include breakpoint(extra-large) {
			width: 50%;
		}

		@include breakpoint(medium) {
			width: 100%;
		}

		&:before {
			content: "";
			position: absolute;
			top: 20px;
			right: 20px;
			bottom: 20px;
			left: 20px;
			background: rgba($off-black, 0);
			transition: 300ms ease all;
		}

		&:hover {
			position: relative;
			border: none;

			.caption {
				opacity: 1;
				margin-bottom: 0;
			}

			&:before {
				background: rgba($off-black, .4);
			}
		}
	}
}