/*

Post Styles

*/

.post {
	position: absolute;
	top: $header-height;
	right: 0;
	bottom: $footer-height;
	left: 0;
	background: $off-white;

	@include breakpoint(extra-large) {
		bottom: 30px;
	}

	.post-image {
		@include vertical-align();
		position: absolute;
		right: 0;
		left: 0;
		max-width: 1540px; // computed width of header stuff
		max-height: 1540px;
		height: 100%;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
}

$post-nav-size: 40px;

.post-nav {
	position: absolute;
	display: block;
	width: 50%;
	height: 100%;
	z-index: 50;
	transition: ease all 300ms;

	> svg {
		@include vertical-align();
		position: absolute;
		width: $post-nav-size;
		height: $post-nav-size;
		fill: $off-black;
		background: rgba($white, .6);
		border-radius: $post-nav-size;
		transition: ease all 300ms;
	}

	&.next {
		left: 0;

		> svg {
			left: 30px;
		}
	}

	&.previous {
		right: 0;

		> svg {
			right: 30px;
		}
	}

	@include breakpoint(medium) {
		width: $post-nav-size;
		height: $post-nav-size;
		@include vertical-align();
		position: absolute;

		> svg {
			border-radius: 0;
		}

		&.next > svg { left: 0; }
		&.previous > svg { right: 0; }
	}

	&:hover {
		border: none;

		> svg {
			background: $white;
			fill: $cyan;
		}
	}
}