/*

Post Styles

*/

.post {
	position: absolute;
	top: $header-height;
	right: 0;
	bottom: $footer-height;
	left: 0;
	background: $off-black;

	@include breakpoint(extra-large) {
		bottom: 30px;
	}

	.post-image {
		@include vertical-align();
		position: absolute;
		right: 0;
		left: 0;
		max-width: 1540px; // computed width of header stuff
		max-height: 1540px;
		height: 100%;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
}

$post-nav-size: 40px;

.post-nav-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	max-width: 1900px;
	height: 100%;
	z-index: 50;
	margin: 0 auto;
}

.post-nav {
	position: absolute;
	display: block;
	width: 50%;
	height: 100%;
	z-index: 50;
	transition: ease all 300ms;

	> svg {
		@include vertical-align();
		position: absolute;
		width: $post-nav-size;
		height: $post-nav-size;
		fill: $off-black;
		background: rgba($white, .2);
		border-radius: $post-nav-size;
		transition: ease all 300ms;
	}

	&.next {
		left: 0;

		> svg {
			left: 30px;
		}
	}

	&.previous {
		right: 0;

		> svg {
			right: 30px;
		}
	}

	&:hover {
		border: none;

		> svg {
			background: rgba($white, .5);
		}
	}

	@include breakpoint(medium) {
		@include vertical-align();
		position: absolute;

		> svg {
			fill: rgba($white, .5);
			background: none;
		}

		&:hover {
			border: none;

			> svg {
				background: none;
				fill: $white;
			}
		}

		&.next > svg { left: 0; }
		&.previous > svg { right: 0; }
	}
}