---
layout: default
---

<div class="home">
  <ul class="rslides">
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/al-van-allen.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/big-bend-ocotillo.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/blue-buildings.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/hibiscus-2.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/horse-ranch.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/indian-farmer.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/milk-and-crisco.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/nyc-shadows.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/tom-sanchez.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/jeremy-lake.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/giddings-gathering.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/the-met.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/ephraim-ice-cream.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/tokyo-street-people-1.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/tokyo-street-people-3.jpg')"
    ></li>
    <li
      style="background-image:url('{{ site.url }}{{ site.baseurl }}/assets/img/photos/overview/tokyo-street-people-5.jpg')"
    ></li>
  </ul>

  <div class="home-nav">
    <a href="{{ site.url }}{{ site.baseurl }}/texas">Texas</a>
    <a href="{{ site.url }}{{ site.baseurl }}/street">Street</a>
    <a href="{{ site.url }}{{ site.baseurl }}/portraits">Portraits</a>
    <a href="{{ site.url }}{{ site.baseurl }}/leftovers">Leftovers</a>
    <a href="{{ site.url }}{{ site.baseurl }}/about">About</a>
  </div>
</div>
