---
layout: default
---
<div class="home">

  <ul class="rslides">
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/people/al-van-allen.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/places/big-bend-cactus.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/places/blue-buildings.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/details/hibiscus-1.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/details/hibiscus-2.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/scenes/horse-ranch.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/people/indian-farmer.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/scenes/milk-and-crisco.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/scenes/nyc-shadows.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/people/tom-sanchez.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/people/jeremy-lake.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/scenes/giddings-gathering.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/scenes/the-met.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/places/fox-farm-dawn.jpg')"></li>
	  <li style="background-image:url('{{ site.baseurl }}/assets/img/photos/people/ephraim-ice-cream.jpg')"></li>
	</ul>

  <div class="home-nav">
	  <a href="{{ site.baseurl }}/people">People</a>
	  <a href="{{ site.baseurl }}/places">Places</a>
	  <a href="{{ site.baseurl }}/scenes">Scenes</a>
	  <a href="{{ site.baseurl }}/details">Details</a>
	  <a href="{{ site.baseurl }}/about">About</a>
	</div>

</div>