---
layout: default
---
<div class="post">

  {% if page.next.url %}
    <a href="{{ site.baseurl }}{{page.next.url}}" title="Previous: {{page.next.title}}" class="post-nav next">
			<svg viewBox="0 0 30 30" class="ico-pointer-left">
				<use xlink:href="#ico-pointer-left"></use>
			</svg>
		</a>
  {% endif %}

  {% if page.previous.url %}
    <a href="{{ site.baseurl }}{{page.previous.url}}" title="Next: {{page.previous.title}}" class="post-nav previous">
			<svg viewBox="0 0 30 30" class="ico-pointer-right">
				<use xlink:href="#ico-pointer-right"></use>
			</svg>
		</a>
  {% endif %}

  <div class="post-image" style="background-image:url('{{ site.baseurl }}{{ page.base-path }}/{{ page.image-name }}.jpg')"></div>

</div>

<div class="page-title-small-pages" {% if page.url == '/') %} style="display: none;" {% endif %}>{{ page.title }}</div>
